.footer{
    padding-top: 50px;

    &-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
    }

    &-link{
        text-decoration: none;
        color: #000000;
        font-size: 20px;
    }

    &-text{
        font-size: 16px;
    }
}